.form-label {
  margin-bottom: .25rem;
}

.form-control {
  border-color: darken($light, 6);

  @media (min-width:992px) {
    padding: .75rem 1.5rem;
    border-radius: $br*3;

    &:not(.form-control-sm) {
      &:not(.form-control-lg) {
        &:not(textarea) {
          height: 3.5rem;
        }
      }
    }

  }
}

.input-group {


  &.input-group-kismat {
    border: 1px solid darken($light, 6);
    border-radius: $br*1;

    .form-control {
      border: none;

      &+.btn {
        border-radius: 0 $br*1 $br*1 0;
      }
    }

    .btn {
      border: none;
    }

    &:not(.input-group-lg) {
      &:not(.input-group-sm) {
        border-radius: $br*3;

        .form-control {
          &+.btn {
            border-radius: 0 $br*3 $br*3 0;
          }
        }

        .btn {
          width: 3.5rem;
        }

      }
    }
  }
}
