.modal-backdrop {
  &.darken {
    &.show {
      opacity: .5;
    }
  }
}

@media (min-width: 1440px) {
  .modal-xxl {
    max-width: 1400px;
  }
}


.modal {

  &.modal-default {
    .modal-content {
      border-radius: $br*3;
      border: none;
      box-shadow: 0 19px 38px rgba($black, 0.30), 0 15px 12px rgba($black, 0.22);
    }

    .modal-header,
    .modal-body,
    .modal-footer {
      padding: .75rem 1rem;

      @media (min-width:992px) {
        padding: 1rem 2rem;
      }
    }

    .modal-header {
      border-color: lighten($black, 90);

      .modal-title {
        color: $dark;
        font-weight: 600;
      }

      @media (min-width:992px) {
        .modal-title {
          font-size: 2rem;
        }
      }
    }

    .modal-body {}

    .modal-footer {
      border: none;
    }
  }

  &.modal-auth {
    // .modal-dialog {
    // max-width: 750px;
    // }

    .modal-content {
      border-radius: $br*4;
      backdrop-filter: blur(10px);
      background: rgba($dark, .8);

      .modal-header {
        border: none;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
        align-items: flex-start;

        .modal-title {
          color: $white;
          font-size: 1.5rem;
        }

        .btn-close {
          color: $white;
          background: none;
          width: 2rem;
          height: 2rem;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          margin-top: 8px;
        }

        .header-left {
          flex: 1 1 auto;

          p {
            color: $white;

            @media (min-width:992px) {
              font-size: 1.25rem;
            }
          }
        }
      }

      .modal-body {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
      }
    }

    @media (min-width:992px) {
      .modal-content {
        .modal-header {
          border: none;
          padding-left: 2rem;
          padding-right: 2rem;
          padding-top: 1rem;
          padding-bottom: 1rem;

          .modal-title {
            font-size: 2rem;
          }

          .btn-close {
            font-size: 1.5rem;
            margin-top: 8px;
          }
        }

        .modal-body {
          padding-left: 2rem;
          padding-right: 2rem;
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }
    }
  }

  &.modal-search {
    .modal-dialog {
      max-width: 85%;
    }

    .modal-content {
      border-radius: $br*3;
      backdrop-filter: blur(10px);
      background-color: rgba($dark, .8);
    }
  }

  &.modal-more-info {
    .modal-content {
      background-color: $white !important;
    }
  }

  &.general {
    .modal-content {
      background-color: $white !important;
    }
  }

  &.modal-seasons {
    .modal-content {
      background-color: $white !important;
    }
  }

}
